<i-file-input></i-file-input>
<div class="wrap col" @titleAnimation>
  <h3>New user</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" class="col">
    <div class="col">
      <label>Login</label>
      <input formControlName="login" type="text">
    </div>
    <div class="col">
      <label>Name</label>
      <input formControlName="name" type="text">
    </div>
    <div class="col">
      <label>Role</label>
      <select formControlName="role">
        <option value="user">user</option>
        <option value="admin">admin</option>
      </select>
    </div>
    <div class="col">
      <label>Age</label>
      <input formControlName="age" type="number">
    </div>
    <div class="col">
      <label>Birthday</label>
      <input formControlName="birth" type="date">
    </div>
    <button type="submit" [disabled]="!form.valid" class="success">Enter (disabled = {{!form.valid}})</button>
    <!-- <button [routerLink]="['/home']" routerLinkActive="router-link-active" type="button" class="success">Enter</button> -->
  </form>
</div>