<div class="wrap" @titleAnimation>
  <i-search-input (onChange)="search($event)"></i-search-input>
  <i-grid *ngIf="filteredUsers" [items]="filteredUsers" [titles]="titles" [withEdit]="true" [withDelete]="true"
    (onEditItem)="editUser($event)" (onDeleteItem)="editUser($event)"></i-grid>
</div>


<!-- MODAL -->
<i-modal *ngIf="editableUser" (onCancel)="closeUser()" (onOk)="closeUser()">
  <p><strong>{{editableUser.name}}</strong></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellat expedita nobis.</p>
  <pre>{{editableUser | json}}</pre>
</i-modal>
