<div class="col" @titleAnimation>
  <button [routerLink]="['/users/add']" type="button" class="add success">
    <img src="/assets/icons/plus-white.svg" alt="ADD"> New user
  </button>

  <i-search-input (onChange)="search($event)"></i-search-input>
  <i-grid *ngIf="filteredUsers" [items]="filteredUsers" [titles]="titles" [fields]="fields" [withEdit]="true" [withDelete]="true"
    (onEditItem)="editUser($event)" (onDeleteItem)="onDelete($event)"></i-grid>
  <div class="center">
    <i-in-progress *ngIf="!filteredUsers" size="36px" margin="48px"></i-in-progress>
  </div>
</div>


<!-- MODAL -->
<i-modal *ngIf="editableUser" (onCancel)="closeUser()" (onOk)="deleteUser()">
  <p><strong>Delete {{editableUser.firstName}} {{editableUser.lastName}}</strong></p>
  <p>Are you sure?</p>
  <!-- <pre>{{editableUser | json}}</pre> -->
</i-modal>
