<div class="col" @titleAnimation>
  <button [routerLink]="['/users/add']" type="button" class="add success">
    <img src="/assets/icons/plus-white.svg" alt="ADD"> New user
  </button>

  <i-search-input (onChange)="search($event)"></i-search-input>
  <i-grid *ngIf="filteredUsers" [items]="filteredUsers" [titles]="titles" [withEdit]="true" [withDelete]="true"
    (onEditItem)="editUser($event)" (onDeleteItem)="editUser($event)"></i-grid>
  <div class="center">
    <i-in-progress *ngIf="!filteredUsers" size="36px" margin="48px"></i-in-progress>
  </div>
</div>


<!-- MODAL -->
<i-modal *ngIf="editableUser" (onCancel)="closeUser()" (onOk)="closeUser()">
  <p><strong>{{editableUser.name}}</strong></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellat expedita nobis.</p>
  <pre>{{editableUser | json}}</pre>
</i-modal>
