<div *ngIf="form" class="wrap col">
  <h1>[Ctor#{{form.get('tag').value}}]</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" class="col">
    <div class="parent">
      <i-form-item [form]="form" control="title">
        <label>Title</label>
        <input type="text" formControlName="title">
      </i-form-item>
      <i-form-item [form]="form" control="subtitle">
        <label>Subtitle</label>
        <input type="text" formControlName="subtitle">
      </i-form-item>
      <i-form-item [form]="form" control="description">
        <label>Description</label>
        <textarea type="text" rows="6" formControlName="description"></textarea>
      </i-form-item>
      <i-form-item [form]="form" control="price">
        <label>Price</label>
        <input type="number" formControlName="price">
      </i-form-item>
      <i-form-item [form]="form" control="createdAt">
        <label>Created At</label>
        <input type="datetime-local" formControlName="createdAt">
      </i-form-item>
      <i-form-item [form]="form" control="authorName">
        <label>Author name</label>
        <input type="text" formControlName="authorName">
      </i-form-item>
      <i-form-item [form]="form" control="tag" class="none">
        <label>Tag</label>
        <input type="text" formControlName="tag" readonly>
      </i-form-item>
      <i-form-item [form]="form" control="region" [ngClass]="{'none': !regions}">
        <label>Region</label>
        <select formControlName="region">
          <option *ngFor="let region of regions" [value]="region">{{region}}</option>
        </select>
        <!-- <input type="text" formControlName="region" readonly> -->
      </i-form-item>
      <i-form-item [form]="form" control="thumbId">
        <label>Thumb</label>
        <input type="text" formControlName="thumbId" class="none" readonly>
        <i-file-input (onSelect)="selectThumb($event)"></i-file-input>
      </i-form-item>
      <i-form-item [form]="form" control="isActive">
        <label>Activated</label>
        <input type="checkbox" formControlName="isActive" class="none" readonly>
        <i-toggle [initialValue]="true" (onToggle)="toggleActivity($event)"></i-toggle>
      </i-form-item>
    </div>
    <button *ngIf="!ctor?.id" type="submit" [disabled]="!valid" class="success">
      Save
      <img src="/assets/icons/done.svg" alt="SAVE">
    </button>

    <fieldset *ngIf="ctor?.id && withItems" class="children">
      <legend>Ctor items</legend>
      <i-collapsible [expanded]="!!ctor.items">
        <ng-container *ngFor="let item of ctor.items, let index = index; let last = last">
          <i-ctor-item [item]="item" [index]="index" (onAdd)="addItem($event)" (onRemove)="removeItem($event)">
          </i-ctor-item>
          <hr *ngIf="!last">
        </ng-container>
      </i-collapsible>

      <div *ngIf="ctor.items?.length === 0" class="empty-list">
        Empty list
        <button type="button" (click)="addItem()" class="add-item">
          Добавить
          <img src="/assets/icons/plus-success.svg" alt="ADD">
        </button>
      </div>

      <ng-container *ngIf="!ctor.items" [ngTemplateOutlet]="inProgress"></ng-container>
    </fieldset>

    <button *ngIf="ctor?.id" type="submit" [disabled]="!valid" class="success">
      Save
      <img src="/assets/icons/done.svg" alt="SAVE">
    </button>
  </form>
</div>

<ng-container *ngIf="!form" [ngTemplateOutlet]="inProgress"></ng-container>


<ng-template #inProgress>
  <div class="center">
    <i-in-progress size="36px" margin="48px"></i-in-progress>
  </div>
</ng-template>
