<div *ngIf="form" class="wrap col" @titleAnimation>
  <h3>Edit filial {{filial.name}}</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" class="col">
    <i-form-item control="name" [form]="form">
      <label>Name</label>
      <input formControlName="name" type="text">
    </i-form-item>

    <i-form-item control="description" [form]="form">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </i-form-item>

    <i-form-item control="code" [form]="form">
      <label>Code</label>
      <input formControlName="code" type="text">
    </i-form-item>

    <i-form-item control="emails" [form]="form">
      <label>E-mail addresses</label>
      <textarea formControlName="emails"></textarea>
    </i-form-item>

    <i-form-item control="phones" [form]="form">
      <label>Phones</label>
      <textarea formControlName="phones"></textarea>
    </i-form-item>

    <i-form-item control="addresses" [form]="form">
      <label>Addresses</label>
      <textarea formControlName="addresses"></textarea>
    </i-form-item>

    <button type="submit" [disabled]="form.invalid" class="success">Save</button>
  </form>
</div>

<div class="center">
  <i-in-progress *ngIf="!form" size="36px" margin="48px"></i-in-progress>
</div>
