* {
  --menu-width: 300px;
}

.wrap {
  aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--menu-width);

    display: flex;
    flex-direction: column;

    .logo {
      height: min-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 20px;
      text-transform: uppercase;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .menu {
      flex: 1 1 0;
    }

    .version {
      padding: 20px;
      height: min-content;
    }

  }

  main {
    margin-left: var(--menu-width);
    overflow-x: hidden;
  }
}
