.row {
  align-items: center;
}

.row select {
  min-width: 200px;
}

.row button.add {
  border: solid 2px var(--color-success);
}

.row button.remove {
  border: solid 2px var(--color-danger);
  margin-left: auto;
}

.ng-invalid {
  border-color: var(--color-danger);
}
