input[type="file"] {
  display: none;
}

button {
  margin-bottom: 12px;
}

.thumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;

  &-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 16px;
    width: 160px;
    height: 100px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.02);
  }
}
